@import "tailwindcss";

:root{
  --primary-color : #00c420
}

@theme {
  --color-primary: var(--primary-color);
}

body{
    font-family: "Poppins", sans-serif;
}

/* ===== Custom Scrollbar ===== */
/* Thin scrollbar for both vertical and horizontal */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Scrollbar track (background behind the thumb) */
::-webkit-scrollbar-track {
  background-color: #000; /* Black track */
}

/* Scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background-color: var(--primary-color); /* Primary color */
  border-radius: 9999px; /* Fully rounded */
}

/* Hover effect for the thumb */
::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-hover); /* Slightly darker on hover */
}


/* ===== Firefox ===== */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--primary-color, #3b82f6) transparent;
}


button {
  cursor: pointer;
}
